<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Proveedores</h1>
    <button class="btn btn-primary" onclick="window.location.href='{{ url_for('proveedores.crear_proveedor') }}'">Agregar Proveedor</button>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>NIT</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.id_proveedor }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.nit }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>
                    <a href="{{ url_for('proveedores.editar_proveedor', id_proveedor=proveedor.id_proveedor) }}" class="btn btn-warning">Editar</a>
                    <a href="{{ url_for('proveedores.eliminar_proveedor', id_proveedor=proveedor.id_proveedor) }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
